jupytext[myst]
contexttimer
click_log
click_completion
sphinx_togglebutton
sphinx-copybutton
sphinxcontrib-bibtex
git+https://github.com/executablebooks/jupyter-cache.git
git+https://github.com/executablebooks/MyST-NB.git
git+https://github.com/executablebooks/sphinx-book-theme.git
git+https://github.com/phaustin/jupyter-book.git
git+https://github.com/jupyter/jupyter-sphinx.git
